$darkBackground: #031138;
$blue1: #434d80;
$blue2: #182359;
$pink1: #e56399;
$pink2: #ef7bab;
$pink3: #d19fb4;
$lightgrey: #d3d4de;

$normal: $blue1;
$lucid: #008386;
$nightmare: #370d3e;
$daydream: #c5196b;

$content-width: 356px;

$font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
