$lightBackground: #031138;
$main1-light: rgba(255, 255, 255, 50%);
$main2-light: #fff;
$accent1-light: #a2a7d0;
$accent2-light: #959cd0;
$accent3-light: #bcc0df;
$lightgrey-light: #fff;
$font-color-light: #6d75b0;

$normal-light: $accent1-light;
$lucid-light: #5fc2c4;
$nightmare-light: #805d86;
$daydream-light: #d47ea8;
